{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{%static "css/materialize.min.css"%"} media="screen,projection"/>
    <link rel="icon" href="{% static "favicon.ico"%}" type="image/x-icon">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="band-logo">Logo</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{% url 'start page'%}">First Example</a></li>
                <li><a href="{% url 'contacts page'%}">Contacts</a></li>
                <li><a href="collapsible.html">JavaScript</a></li>
            </ul>
        </div>
        
    </nav>
    <div class = "container">
        {% block unexist_block %}
        {%comment%} <h1>Unexist</h1> {% endcomment %}
        {% endblock unexist_block %}

        {% block contacts %}{% endblock contacts %}
        {% block main_page %}{% endblock main_page %}

    </div>

    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col 16 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use columns and rows for footer</p>
                </div>
                <div class="col 14 offset-12 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class = "grey-text text-lighten-3"></a>Link 1</li>
                        <li><a class = "grey-text text-lighten-3"></a>Link 2</li>
                        <li><a class = "grey-text text-lighten-3"></a>Link 3</li>
                        <li><a class = "grey-text text-lighten-3"></a>Link 4</li>

                    </ul>
                </div>
            </div>
        </div>

    </footer>
    <script type="text/javascript" src="{%static 'js/materialize.min.js'}"></script>
</body>
</html>